<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Manga GitHub</title>
	<meta http-equiv="Content-Type" 
		content="text/html; charset=UTF-8" />
</head>
<body>
<header role="banner">
	<nav role="navigation">
		<div>
			<ul class="navi_list">About</ul>
			<ul class="navi_list">Pricing</ul>
			<ul class="navi_list">Create New Garally</ul>
		</div>
	</nav>
</header>
<main id="main" role="main">
	<section>
		<div>
			<header>
				<h1>MANGA GitHub</h1>
				<p>Let's draw comics like geeks create codes and complete projects</p>
				<div>
					<form action="" method="post" charset="UTF-8">
						<div>
							<input type="email" name="email" placeholder="Email Adress">
							<button type="submit">JOIN MangaGitHub</button>
						</div>
					</form>
				</div>
			</header>
		</div>
	</section>

</main>
<footer></footer>

</body>
</html>